.primary-color {
    color: #d35649;
}

.primary-gray {
    color:  #98a5a5;
}

.bg-gray {
    background-color:  #98a5a5;
}

.primary-blue {
    color:  #509bd7;
}
.gray-footer {
    color: #1f1f1f;
}

.bg-primary-gray {
    background-color:  #f5f5f5;
}

.bg-gray-footer {
    background-color: #1f1f1f;
}

.bg-gray-footer-btn {
    background-color: #444;
}

.primary-purp {
    color: #575a89;
}

.light-gray {
    color: #eee;
}

.bg-primary-color {
    background-color: #d35649;
}

#map {
    background-color: #ffff;
}

.bg-primary-blue {
    background-color:  #509bd7;
}